<!-- CATEGORIES -->
<!-- <section id="port-sec">
    <div class="container">
        <div class="row pad-row">
            <div class="col-md-12 col-sm-12">
                <ul class="portfolio-items2 col-3">
                    <h2 class="cat">Categories Cars</h2>
                    <div id="containerCategories"></div>
                </ul>
            </div>
        </div>
    </div>
</section> -->

<div class="cards-list" id="containerCategories">
    <div id="top">  
        <h2>CARROCERIAS</h2>
    </div>
</div>

<div class="cards-list" id="containerTypeFuel">
    <div id="top">  
        <h2>MOTORES</h2>
    </div>
</div>